version: 2

updates:
  - package-ecosystem: pub
    directory: /
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    versioning-strategy: increase-if-necessary
    groups:
      dependencies:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
