name: bump version

on:
  workflow_dispatch:

jobs:
  bump_version:
    name: bump version
    uses: EarthmanMuons/reusable-workflows/.github/workflows/bump-version-flutter-app.yml@main
    secrets: inherit
