name: on published release

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  upload_build_android:
    name: upload build
    permissions:
      contents: read
      id-token: write
    if: github.event.release.prerelease == false
    uses: EarthmanMuons/reusable-workflows/.github/workflows/upload-build-android.yml@main
    with:
      release_tag: ${{ github.event.release.tag_name }}
      gcp_wif_provider: ${{ vars.GCP_WIF_PROVIDER }}
      gcp_service_account: ${{ vars.GCP_SERVICE_ACCOUNT }}
      package_name: ${{ vars.GOOGLE_PLAY_PACKAGE_NAME }}
      track: alpha
      release_status: draft

  upload_build_ios:
    name: upload build
    if: github.event.release.prerelease == false
    uses: EarthmanMuons/reusable-workflows/.github/workflows/upload-build-ios.yml@main
    secrets:
      ASC_AUTH_KEY_B64: ${{ secrets.ASC_AUTH_KEY_B64 }}
    with:
      release_tag: ${{ github.event.release.tag_name }}
      asc_issuer_id: ${{ vars.ASC_ISSUER_ID }}
      asc_key_id: ${{ vars.ASC_KEY_ID }}
